<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <title> {{ site.title }} </title>
</head>
<body>
    <div class="wrapper">
        <header class="site-header">
             <div class="header-inner">
            <div class="site-brand">
                <p>{{ site.title }}</p>
            </div>
            <nav class="site-nav">
                <ul>
                    {% for page in site.pages %}
                        {% if page.title %}
                        <li><a href="/First-Theme{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <section class="site-media">
            <p>Welcome To Our Studio!</p>
            <h1>IT'S NICE TO MEET YOU</h1>
            <a href="{{site.baseurl}}">tell me more</a>
        </section>
        </header>

         <main class="site-main">

            {{ content }}

         </main>


        <footer class="site-footer">
            <article class="footer">
                <header class="service-title">
                    <div class="technologies">
                    <a href="https://developer.mozilla.org/bg/docs/Web/HTML"><img src="/First-Theme/images/html5-logo.svg" alt="Html logo"></a>
                    <a href="https://developer.mozilla.org/bg/docs/Web/CSS"><img src="/First-Theme/images/css3-logo.svg" alt="Css logo"></a>
                    <p><a href="https://www.facebook.com/" title="Facebook"><i class="fab fa-facebook"></i></a><a href="https://www.instagram.com/" title="Instagram"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/" title="Twitter" ><i class="fab fa-twitter"></i></a><a href="https://www.linkedin.com/" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a></p>   
                    </div>
                    <p> All right reserved. Feb 2020 &copy;</p>
                </header>

        </footer>


    </div>
</body>
</html>













